* {
  margin: 0;
  padding: 0;
}
html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
body {
  font: 16px/1.6 "Raleway", Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  background: #222;
}

html {
  -ms-overflow-style: scrollbar;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
#video:after {
  content: "";
  opacity: 0.75;
  background: #4096ee; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #4096ee 0%,
    #39ced6 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #4096ee 0%,
    #39ced6 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #4096ee 0%,
    #39ced6 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#39ced6',GradientType=0 ); /* IE6-9 */
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

main {
  position: relative;
}

.preloader {
  background: -moz-linear-gradient(
    top,
    #4096ee 0%,
    #39ced6 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #4096ee 0%,
    #39ced6 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #4096ee 0%,
    #39ced6 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#39ced6',GradientType=0 ); /* IE6-9 */
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  text-align: center;
}
.preloader-bounce {
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}
.preloader-bounce > span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0.3em;
  display: inline-block;
  vertical-align: middle;
  -webkit-animation: bounce 0.6s infinite alternate;
  animation: bounce 0.6s infinite alternate;
  background: #fff;
}
.preloader-bounce > span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  background: #fff;
}
.preloader-bounce > span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  background: #fff;
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-1.2em);
    transform: translateY(-1.2em);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-1.2em);
    transform: translateY(-1.2em);
  }
}

/* OTHER STYLES */
.notfound {
  min-height: 75vh;
  position: relative;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notfound button {
  padding: 15px 40px;
  margin-top: 20px;
  border: 2px solid #fff;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.notfound button:hover{
  background-color: #fff;
}