.services {
  padding: 65px 0px;
}

.services .service-item {
  margin: 15px 0px;
  padding: 20px;
  text-align: center;
  transition: all 0.5s;
}

.services .service-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.services .service-item .icon {
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  line-height: 50px;
}

.services .service-item .icon img {
  max-width: 100%;
}

.services .service-item h4 {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: 300;
}

.services .service-item p {
  color: #bbb;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.more-about-us {
  background-image: url("/images/about.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  width: 100%;
  text-align: center;
}

.more-about-us .content {
  text-align: left;
  padding: 150px 60px;
  color: #fff;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.75);
}

.more-about-us .content h2 {
  margin-top: 0px;
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

.more-about-us .content span {
  font-size: 16px;
  font-weight: 200;
  display: inline-block;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}

.more-about-us .content p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.simple-btn {
  margin-top: 30px;
}

.simple-btn a {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  color: #fff;
  letter-spacing: 2px;
  border-bottom: 3px solid #fff;
  padding-bottom: 3px;
  text-decoration: none;
  transition: all 0.5s;
}

.simple-btn a:hover {
  opacity: 0.5;
}

.content_right {
  text-align: right;
  background: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.more-about-us .content {
  padding: 60px 30px;
}

.grid-portfolio {
  padding: 65px 0px;
}

.grid-portfolio .portfolio-item {
  margin: 15px 0px;
}

.grid-portfolio .portfolio-item h1 {
  position: relative;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  padding-left: 20px;
  line-height: 15px;
  transform: translateY(25px);
  transition: 0.5s ease-in-out;
  letter-spacing: 0.5px;
}

.grid-portfolio .portfolio-item em {
  font-style: normal;
  font-weight: 200;
}

.grid-portfolio .portfolio-item:hover h1 {
  transform: translateY(0);
}

.grid-portfolio .portfolio-item p {
  padding-left: 20px;
  font-weight: 300 !important;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #fff;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.5s ease-in-out;
  text-transform: uppercase;
}

.grid-portfolio .portfolio-item:hover p {
  opacity: 1;
  transform: translateY(0);
}

.grid-portfolio .load-more-button {
  margin-top: 15px;
}

.grid-portfolio .load-more-button a {
  width: 100%;
  height: 80px;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
  transition: all 0.5s;
}

.grid-portfolio .load-more-button a:hover {
  color: rgba(250, 250, 250, 0.5);
}

.portfolio-item .thumb {
  position: relative;
}

.portfolio-item figure {
  width: 100%;
  height: 100%;
}

.portfolio-item figure img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.portfolio-item .hover-effect .hover-content {
  position: absolute;
  text-align: left;
  width: 100%;
  bottom: 0;
  left: 0;
}

.portfolio-item .hover-effect .hover-content {
  position: absolute;
  text-align: left;
  width: 100%;
  bottom: 20px;
  left: 0;
}

@media (max-width: 530px) {
  .grid-portfolio {
    padding: 0px 0px;
  }

  .grid-portfolio .portfolio-item {
    margin: 30px 0px;
  }

  .grid-portfolio .load-more-button {
    padding-bottom: 30px;
  }

  .more-about-us .content {
    padding: 60px 30px;
  }
}

.blog-entries {
  padding: 80px 0px;
}

.blog-entries .blog-posts {
  margin-right: 30px;
}

.blog-entries .page-number {
  padding: 0;
  margin: 0;
  list-style: none;
}

.blog-entries .page-number li {
  display: inline-block;
  margin-right: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.blog-entries .page-number li:last-child {
  margin-right: 0px;
}

.blog-entries .page-number li.active {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.blog-entries .page-number li.active a:hover {
  opacity: 1;
}

.blog-entries .page-number li p {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  transition: all 0.5s;
}

.blog-entries .page-number li p:hover {
  opacity: 0.5;
  cursor: pointer;
}

.blog-entries .search input {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  font-size: 15px;
  font-weight: 300;
  border-radius: 0px;
  outline: none;
  border: none;
}

@media (max-width: 992px) {
  .blog-entries .blog-posts {
    margin-right: 0px;
  }

  .blog-entries .page-number {
    margin-bottom: 80px;
  }
}

.blog-post {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 65px;
  margin-bottom: 60px;
}

.img_content {
  width: 100%;
  overflow-y: hidden;
  border-radius: 10px;
  box-shadow: 10px 7px 10px 0 rgba(0, 0, 0, 0.25);
}

.blog-post img {
  width: 100%;
  max-width: 300px;
  overflow-y: hidden;
  border-radius: 10px;
  box-shadow: 10px 7px 10px 0 rgba(0, 0, 0, 0.25);
}

.blog-post .text-content {
  margin-top: 30px;
}

.blog-post .text-content span {
  font-size: 16px;
  font-weight: 200;
  color: #fff;
  letter-spacing: 0.5px;
}

.blog-post .text-content span .text {
  color: #f4dd5b;
  text-decoration: none;
}

.blog-post .text-content h4 {
  margin-top: 5px;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  font-weight: 300;
}
.blog-post .text-content h4 span {
  border-bottom: 1px solid #fff;
  font-size: 2rem;
}

.blog-post .text-content p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-top: 20px;
}

.sidebar-heding h2 {
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  margin-top: 40px;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #414141;
  margin-bottom: 20px;
}

.recent-posts ul {
  padding: 0;
  list-style: none;
}

.recent-posts ul li {
  margin-bottom: 15px;
}

.recent-posts ul a {
  text-decoration: none;
}

.recent-posts ul li img {
  display: inline-block;
  max-width: 100%;
  margin-right: 15px;
}

.recent-posts ul li .text {
  display: inline-block;
}

.recent-posts ul li h6 {
  margin-bottom: 5px;
  padding-top: 0px;
  margin-top: 0px;
  display: block;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.5px;
}

.recent-posts ul li span {
  display: inline-block;
  font-size: 14px;
  font-weight: 200;
  color: #f4dd5b;
}

.archives ul,
.categories ul {
  margin-top: -5px;
  padding: 0;
  list-style: none;
}

.archives ul li,
.categories ul li {
  margin-bottom: 12px;
}

.archives ul li:last-child,
.categories ul li:last-child {
  margin-bottom: 0px;
}
.categories ul li button {
  border: none;
  background: transparent;
  cursor: pointer;
}
.archives ul li a,
.categories ul li button {
  font-size: 15px;
  font-weight: 200;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: all 0.5s;
}

.archives ul li a:hover,
.categories ul li button:hover {
  opacity: 0.5;
}
